/* External CSS */
/* Import from Google: Mulish and Montserrats */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Universal Selector, CSS Variables & Fallbacks & rgb, rgba*/
:root {
    --main-color: rgb(30, 1, 175);
    --secondary-color: rgba(72, 47, 233, 0.9);
}

/* Fonts, 3rd Party font from Google: Mulish and Montserrats */
* {
    color: var(--main-color, var(--secondary-color, blue));
    font-family: "Mulish", "Montserrats", sans-serif, Arial, Helvetica;
}

/* Element Selector & hsl */
p {
    color: hsl(232, 95%, 36%);
}

/* h2, Class Selector & Hex code, text color */
.topic {
    color: #1a0777;
}

/* Long padding */
#newbusinessAddy {
    color: #02f;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

/* Short padding */
#unfinishedbusiness {
    padding: 8px 4px 8px 4px;
    text-align: center;
}

/* ID Selector & color name */
#memberslist {
    color: blue;
}

/* hsla */
#whofundraise {
    color: hsla(235, 73%, 45%, 0.6);
}

/* wider-gamut color */
#whentournament {
    color: color(srgb 0.3 0.7 1 / .8);
}

#clubfees {
    color: color-mix(in lch, #1c08d1 83%, rgb(52, 34, 155) 41%);
}

/* background-color, border styling, Long margins*/
form {
    background-color: #b4dbff;
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 8px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

/* Auto margins & short padding*/
fieldset {
    width: 48vw;
    margin: auto;
    padding: 2em;
}

body {
    background-color: rgb(255, 225, 250);
}

/* 3 Unique Absolute Units */

/* Descendant Combinator & Text styling*/
form label {
    color: rgb(47, 47, 238);
    text-decoration: underline dotted;
    font-size: 5mm;
}

/* Child combinator */
header > h1 {
    text-align: center;
    font-size: 3pc;
    font-family: "Jersey 25", "Mulish", "Montserrats", sans-serif, Arial, Helvetica;
}

/* General sibling combinator */
h2 ~ h3 {
    text-decoration: underline solid rgb(152, 152, 219);
}

/* Adjacent sibling combinator */
h2 + p {
    border-style: solid;
    border-width: 3Q;
    border-radius: 4px;
    border-color: rgb(0, 85, 85);
}

/* Combining two selectors & 3 Relative units */
h2.topic {
    font-size: 2rem;
}

/* Short Margins & fixed position*/
#badmintonemoji {
    height: 24vh;
    width: auto;
    margin: 0.5em;
    position: fixed;
    top: 1vh;
    left: 83vw;
}

/* Short Margins & static position*/
#designMerch {
    width: 28vw;
    height: auto;
    margin: 1em 1em 1em 1em;
    position: static;
}

/* Attribute Selector */
input[type="checkbox"] {
    accent-color: #ff0015;
}

button[type="button"] {
    color: red;
    font-size: 1.2em;
}

/* Pseudo-class selector hover & active*/
form:hover {
    border-color: rgb(85, 0, 255);
    background-color: rgb(116, 197, 255);
}

button:active {
    font-size: 32px;
    color: blue;
    background-color: aqua;
}

/* New selectors :has() */
h2:has(+ h3) {
    font-size: 2.5em;
    text-align: center;
}

/* Nesting Selector */
ul {
    list-style-type: square;
    li {
        font-size: 1.3em;
        text-decoration: underline;
    }
    li:hover {
        font-size: 2em;
    }
}

/* Display inline-block */
nav li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

/* Flexbox */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

/* Display inline */
#attendancelist li {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

/* Display block */
span {
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

/* Display none */
#youfoundme {
    display: none;
}

/* Max-width, min-width, width, height */
video {
    max-width: 1000px;
    min-width: 16rem;
    width: 32em;
    height: auto;
    margin: 4px;
}

audio {
    margin: 4px;
}

/* Relative position */
#handshake {
    position: relative;
    left: 4em;
}

/* Gridbox */
#gridOfImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "img img"
        "img img";
    grid-gap: 4px;
    max-width: 48vw;
    justify-items: center;
    align-items: center;
}

#gridOfImages img {
    width: 80%;
    height: 75%;
    border: 2px solid brown
}

/* iPhone 12 Pro/ iPhone 14 Pro Max */
@media screen and (min-width: 320px) and (max-width: 500px) {
    #badmintonemoji {
        height: 7vh;
        width: auto;
        position: fixed;
        top: 9vh;
        left: 82vw;
    }
    video {
        max-width: 72vw;
        min-width: 16vw;
        width: 64vw;
        height: auto;
        margin: 4px;
    }

    /* background-color, border styling, Long margins*/
    form * {
        margin: 0;
        padding: 0;
    }

    form {
        background-color: #b4dbff;
        border-style: solid;
        border-color: red;
        border-width: 0.2em;
        border-radius: 8px;
        margin: 0;
        padding: 0;
        width: 85%;
    }

    /* Auto margins & short padding*/
    fieldset {
        width: 77%;
        margin: 0;
        padding: 0;
    }

    #handshake {
        position: relative;
        left: 4em;
        width: 70%;
    }
}

/* iPad Air & iPad Pro */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #badmintonemoji {
        height: 9vh;
        width: auto;
        position: fixed;
        top: 15vh;
        left: 85vw;
    }
}